[build-system]
requires = ["hatchling>=1.4.1"]
build-backend = "hatchling.build"

[project]
name = "bot-controller"
version = "0.2"
authors = [
    { name="Theo Akbas", email="theo.akbas@inria.fr" },
]
dependencies = [
    "pyserial   == 3.5",
    "bottle     == 0.12.21",
    "pygame     == 2.1.2",
    "pynput     == 1.7.6",
    "requests   == 2.28.1",
]
description = "Package to easily control your DotBot and Sail Boat with different controllers."
readme = "README.md"
license = { file="LICENSE.txt" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/DotBots/BotController-python"
"Bug Tracker" = "https://github.com/DotBots/BotController-python/issues"

[project.scripts]
bot-controller = "bot_controller.main:main"
