[build-system]
requires = [
    "hatchling>=1.4.1",
    "cibuildwheel",
    "cmake",
    "ninja",
]
build-backend = "hatchling.build"

[tool.hatch.build]
include = [
    "dotbot/frontend/*",
    "dotbot/lib/*",
    "*.py"
]

[tool.hatch.build.targets.sdist.hooks.custom]
path = "utils/hooks/sdist.py"

[tool.hatch.build.targets.wheel.hooks.custom]
path = "utils/hooks/wheel.py"

[project]
name = "pydotbot"
version = "0.16"
authors = [
    { name="Alexandre Abadie", email="alexandre.abadie@inria.fr" },
    { name="Theo Akbas", email="theo.akbas@inria.fr" },
]
dependencies = [
    "click          == 8.1.7",
    "fastapi        == 0.103.1",
    "haversine      == 2.8.0",
    "numpy          == 1.25.2",
    "opencv-python  == 4.8.0.76",
    "pygame         == 2.5.1",
    "pyserial       == 3.5",
    "pynput         == 1.7.6",
    "rich           == 13.5.2",
    "structlog      == 23.1.0",
    "uvicorn        == 0.23.2",
    "websockets     == 11.0.3",
]
description = "Package to easily control your DotBots and SailBots."
readme = "README.md"
license = { text="BSD" }
requires-python = ">=3.7"
classifiers = [
    'Programming Language :: C',
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Microsoft :: Windows",
]

[project.urls]
"Homepage" = "https://github.com/DotBots/PyDotBot"
"Bug Tracker" = "https://github.com/DotBots/PyDotBot/issues"

[project.scripts]
dotbot-controller = "dotbot.main:main"

[tool.ruff]
select = ["E", "F"]
line-length = 88
ignore = ["E501"]
